*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf4fb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-gallery {
  width: 80%;
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(300px, 1fr);
  gap: 30px;
}

.img-gallery > img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.6s ease;
}

.img-gallery img:hover {
  scale: 0.85;
  box-shadow: 10px 26px 60px rgba(68, 77, 136, 0.3);
}
