@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  background-color: #121212;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 250px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  padding: 24px 16px;
}

.profile-name {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 4px;
}
.job-title {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ceac23;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.description {
  font-size: 14px;
  letter-spacing: 1px;
  color: #9e9e9e;
}

.social-links {
  width: 100%;
  display: flex;
  height: 0;
  border-top: 1px solid #cfcfcf;
  transition: height 0.3s ease;
}
.card:hover .social-links {
  height: 65px;
}

.social-links .instagram {
  --color: #ee5487;
}
.social-links .linkedin {
  --color: #0077b5;
}
.social-links .twitter {
  --color: #1da1f2;
}

.social-links > a {
  font-size: 20px;
  padding-block: 20px;
  color: var(--color);
  flex: 1;
}

.social-links > a:not(:last-child) {
  border-right: 1px solid #cfcfcf;
}
.social-links > a:hover {
  background-color: var(--color);
}
.social-links > a:hover > i {
  color: white;
}
