@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.img-box {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border-radius: 4px;
  transition: 0.5s;
  z-index: 2;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-box {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  height: 60px;
  text-align: center;
  transition: 0.5s;
}
.text-box h2 {
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}
.text-box span {
  text-transform: uppercase;
  color: rgb(139, 36, 199);
  color: #777;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: white;
  z-index: -1;
  transition: 0.5s;
}
.card:hover::before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
.card:hover::after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

.card:hover .img-box {
  bottom: 80px;
}
