*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #051115;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.gallery {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 180px);
  gap: 10px;
  margin-inline: 30px;
}

.gallery > .card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(77, 77, 77);
}

.card:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.card:nth-child(2) {
  grid-area: 2 / 1 / span 1 / span 1;
}

.card:nth-child(3) {
  grid-area: 1 / 2 / span 2 / span 2;
}

.card:nth-child(4) {
  grid-area: 1 / 4 / span 1 / span 1;
}

.card:nth-child(5) {
  grid-area: 1 / 5 / span 1 / span 1;
}

.card:nth-child(6) {
  grid-area: 2 / 4 / span 1 / span 2;
}

@media screen and (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 220px);
  }

  .card:nth-child(1) {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .card:nth-child(2) {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .card:nth-child(3) {
    display: none;
  }

  .card:nth-child(4) {
    grid-area: 1 / 2 / span 1 / span 1;
  }

  .card:nth-child(5) {
    grid-area: 1 / 3 / span 1 / span 1;
  }

  .card:nth-child(6) {
    grid-area: 2 / 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
  }

  .card:nth-child(1) {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .card:nth-child(2) {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .card:nth-child(3) {
    display: none;
  }

  .card:nth-child(4) {
    grid-area: 1 / 2 / span 1 / span 1;
  }

  .card:nth-child(5) {
    display: none;
  }

  .card:nth-child(6) {
    grid-area: 2 / 2 / span 1 / span 1;
  }
}
