*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  all: unset;
}

.btn {
  font-family: "Clash Grotesk";
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 1rem 2.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 600;
  transition: 0.6s;
  box-shadow: 0px 0px 60px hsl(232 85% 69% / 0.6);
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  color: rgb(4, 4, 38);
  background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
}
